body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-x: hidden;
}


nav {
    position: fixed;
    background-color: rgba(39, 39, 39, 0.10);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.10);
    width: min-content;
    height: min-content;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    border-radius: 18px;
    z-index: 1000;
    transition: 0.2s;
}

.folder>div>a {
    cursor: pointer;
}

.folder>div>a.closed {
    transition: 0.3s ease-in;
    transform: rotateZ(-90deg);
}

.folder-items.closed {
    display: none;
}

.folder>div>a,
.folder-items>div>a {
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-block: 4px;
    margin-inline: 5px;
}

.folder-items>div:first-child>a {
    margin-top: 5px;
}

.folder-items>div:last-child>a {
    margin-bottom: 5px;
}

.folder-items>div>a>h2 {
    font-family: Rubik, sans-serif;
    font-size: 1rem;
    color: white;
    display: none;
}

.folder>div:hover,
.folder-items>div:hover {
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 10px;
    transition: 0.2s;
}

.folder-items:hover>div>a>h2 {
    display: block;
    padding: 0;
    margin-block: 2px;
    margin-left: 10px;
    font-size: 1rem;
}

.folder>div>a>img,
.folder-items>div>a>img {
    padding: 7px;
    border-radius: 16px;
    border: solid 1px rgba(255, 255, 255, 0.06);
    width: 35px;
    height: 35px;
}


.default-container {
    transition: 0.2s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 15px;
}

.default-container:hover {
    transition: 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.04);
}



#accueil {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#accueil-header,
#accueil-middle,
#accueil-footer {
    height: 10vh;
    width: 85vw;
    display: flex;
    flex-direction: row;
}

#accueil-header {
    justify-content: space-between;
    align-items: center;
}

.logo-iut-container {
    height: 60%;
}

.logo-iut-container>img {
    border-radius: 50%;
    height: 100%;
}

.cv-download-container {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    height: 60%;
    text-decoration: none;
    color: #cfff8f;
    font-family: "Momo Trust Display", sans-serif;
}

.cv-download-container>p {
    padding: 10px 10px 10px 0;
}

.cv-download-container>img {
    height: 35%;
    padding-left: 10px;
}

#accueil-middle {
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.accueil-image {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.accueil-image>img {
    height: 60%;
    aspect-ratio: 1/1;
    border: solid rgba(255, 255, 255, 0.1) 1px;
    object-fit: cover;
    margin-left: max(10vw, 10vh);
    box-shadow: 0 0 48px 40px rgba(255, 255, 255, 0.03);
    animation: accueil-image-animation 20s ease infinite alternate;
    transition: 0.3s;
}

.accueil-image>img:hover {
    transition: 0.3s;
    padding-block: 2vh;
}

@keyframes accueil-image-animation {
    0%, 100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
}

.accueil-text {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.accueil-text>div {
    display: flex;
    flex-direction: column;
    width: 40vw;
    align-items: start;
    justify-content: center;
    margin: auto auto auto 5vw;
    border-radius: 15px;
    text-align: start;
}

.accueil-text>div>h1 {
    font-size: 1.2rem;
    font-family: "Archivo Black", sans-serif;
    opacity: 90%;
    color: #df5800;
}

.accueil-text>div>h1>strong {
    font-size: 3.5rem;
    font-family: Rubik, sans-serif;
    color: #cfff8f;
}

.accueil-text>div>span {
    font-size: 1.3rem;
    font-family: rubik, sans-serif;
    opacity: 90%;
}

.accueil-text>div>p {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 10px;
    margin-top: 10px;
    font-size: 1.2rem;
    margin-bottom: 2vw;
    line-height: 1.9;
    font-family: Rubik, sans-serif;
    color: white;
}

.accueil-text>div>p>span {
    color: #df5800;
    font-family: "Archivo Black", sans-serif;
}

.accueil-text>div>a {
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: rgba(245, 222, 179, 0.73);
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: max-content;
    text-wrap: nowrap;
    font-family: "Archivo Black", sans-serif;
}

.accueil-text>div>a>img {
    margin-left: 1%;
    height: 100%;
}

#accueil-footer {
    justify-content: start;
    align-items: end;
}

#accueil-footer>h1 {
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.36);
    font-family: "Archivo Black", sans-serif;
    margin: auto 0 0.5vh 0;
}


#presentation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 80vh;
    margin: 3vw auto;
    gap: 3vw;
    flex-wrap: nowrap;
}

.presentation-video {
    height: 25vw;
}

.presentation-video>video {
    height: 100%;
    object-fit: cover;
}

.etudes-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: 5vw;
    margin-inline: 1vw;
}

.etudes-item>img {
    height: 70%;
    margin-inline: 1vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.etudes-item>div {
    display: block;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 80%;
    font-family: Rubik, sans-serif;
    font-size: 1vw;
}

.etudes-item>div>span {
    font-size: 0.5vw;
    color: white;
}

.etudes-item>div>h2 {
    font-size: 1.2vw;
    margin: 0;
    color: rgba(255, 255, 255, 0.35);
}

.etudes-item>div>p {
    font-size: 1vw;
    margin: 0;
}


.presentation-text>p {
    font-family: Rubik, sans-serif;
    font-size: 1vw;
    color: white;
    padding: 1vw;
    margin-inline: 1vw;
    line-height: 1.5;
}

.presentation-text>p>strong {
    font-family: Rubik, sans-serif;
    font-size: 1vw;
    color: #cfff8f;
}

.presentation-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 35vw;
}

.presentation-title {
    font-size: 2vw;
    font-family: "Archivo Black", sans-serif;
    margin: 1vw;
    color: #df5800;
}

#informations-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.information-contact {
    margin-inline: 1vw;
    margin-bottom: 1vw;
    display: flex;
    flex-direction: column;
}

.information-contact>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.information-contact>div>p {
    font-family: Rubik, sans-serif;
    font-size: 1vw;
    margin: 0.5vw
}

.information-contact>div>p>a {
    text-decoration: none;
    color: #cfff8f;
}

.info-icon {
    height: 1vw;
    margin-left: 1vw;
    margin-right: 0;
    aspect-ratio: 1/1;
}

#sendMailButton {
    text-decoration: none;
    border: 1px solid rgba(207, 255, 143, 0.03);
    color: #cfff8f;
    background-color: rgb(51, 51, 51);
    align-self: center;
    padding: 0.5vw;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
    font-family: Rubik, sans-serif;
    font-size: 1vw;
    border-radius: 10px;
    transition: 0.2s;
}

#sendMailButton:hover {
    transition: 0.2s;
    background-color: rgba(207, 255, 143, 0.95);
    color: rgb(51, 51, 51);
}



.title {
    justify-self: center;
    font-size: 4vw;
    font-family: "Archivo Black", sans-serif;
    opacity: 90%;
    text-align: center;
    color: #df5800;
    margin-inline: 2vw;
}

#projets {
    margin-bottom: 5vh;
    position: relative;
    background-color: #000000;
}

#projets>h1 {
    text-align: center;
}

#projets-container {
    height: min-content;
}

.projets-item {
    position: sticky;
    height: 105vh;
    border-radius: 50px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projets-item>h2 {
    font-family: "Momo Trust Display", sans-serif;
    font-size: 3rem;
    margin-top: 13vh;
    color: #cfff8f;
}

.projets-item:nth-child(1) {
    top: 30px;
    z-index: 1;
}

.projets-item:nth-child(2) {
    top: 60px;
    z-index: 2;
}

.projets-item:nth-child(3) {
    top: 90px;
    z-index: 3;
}

.projets-item:nth-child(4) {
    top: 120px;
    z-index: 4;
}

.projets-item:nth-child(5) {
    top: 150px;
    z-index: 4;
}

.projets-grid {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    height: min-content;
    width: 70%;
    margin: 0 0 auto 0;
    text-align: start;
}

.projets-grid-row1,
.projets-grid-row2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.projets-grid-row1{
    grid-column: 1;
    grid-row: 1;
}

.projets-grid-row2{
    grid-column: 2;
    grid-row: 1;
}

.projets-grid>a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.projets-grid>a>video {
    width: 100%;
}

.projets-grid>a>img {
    width: 100%;
    border-radius: 15px;
}

.projets-description {
    font-family: Rubik, sans-serif;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 10px 10px;
    line-height: 1.3;
    width: 100%;
    font-size: 1vw;
    overflow: hidden;
    overflow-y: auto;
    margin-block: 1vh;
    height: min-content;
}

.projets-description>ul,
.projets-description>p {
    margin: 0;
}

.projets-description strong {
    line-height: 2;
    color: #cfff8f;
}

.projets-title {
    font-family: "Momo Trust Display", sans-serif;
    letter-spacing: 0.07em;
    margin: 0;
    font-size: 1.5rem;
    color: #df5800;
}

.projets-language {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
    column-gap: 20px;
    font-family: "Momo Trust Display", sans-serif;
}
.projets-language>span,
.projets-language>img {
    border-radius: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    height: 30px;
    line-height: 30px;
    border-color: rgba(255, 255, 255, 0.13);
    background-color: rgba(0, 0, 0, 0.4);
}

.projets-language>span:hover,
.projets-language>img:hover {
    border-color: #cfff8f;
}


#section-aptitudes {
    display: flex;
    flex-direction: column;
    position: relative;
    align-content: center;
    height: min-content;
    justify-content: center;
    margin-bottom: 5vh;
}

.aptitudes-bg-container,
.aptitudes-container {
    position: sticky;
    top: 50px;
}


.aptitudes-bg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5vw;
    color: #990fca;
    height: 100vh;
    font-family: "Arial Black", Gadget, sans-serif;
}

.aptitudes-bg-container>h1 {
    margin: 0 0 10px 0;
}

.aptitudes-container {
    display: flex;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.aptitudes-grid {
    display: grid;
    width: 85%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-block: auto;
    column-gap: 90px;
    row-gap: 100px;
}


.aptitudes-carte {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    background: rgba(42, 42, 42, 0.24);
    backdrop-filter: blur(10px);
    padding: 5%;
    border-radius: 15px;
    border: 1px solid rgba(30, 30, 30);
}

.divider {
    margin: 0 0 10px 0;
    width: 100%;
    align-self: center;
    background-color: rgb(30, 30, 30);
    height: 1px;
}

.aptitudes-title {
    opacity: 95%;
    display: flex;
    padding: 0;
    align-items: center;
    margin: 0 0 10px 0;
    flex-direction: row;
}

.aptitudes-title>img {
    width: 40px;
    height: 40px;
    padding: 0;
    fill: #cfff8f;
    margin-right: 30px;
}

.aptitudes-title>h3 {
    font-size: max(0.5rem, 2vw);
    padding: 0;
    margin: 0;
}

.aptitude-liste {
    height: min-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    overflow: hidden;
    margin-top: 10px;
}

.aptitudes-liste-item {
    font-family: "Rubik", sans-serif;
    color: rgb(153, 153, 153);
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(54, 54, 54);
}


#experiences {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin-bottom: 30vh;
}

.experiences-grid {
    display: flex;
    width: 85vw;
    row-gap: 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    flex-direction: row;
}

.experiences-item {
    border-radius: 15px;
    width: 380px;
    font-family: Rubik, sans-serif;
}

.experiences-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
}

.experiences-header-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-inline: 10px;
    background-color: #000000;
}

.experiences-header-image>img {
    width: 80%;
}

.experiences-header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experiences-header-text>span {
    font-size: 0.9rem;
    opacity: 0.7;
}

.experiences-header-text>h2 {
    margin-block: 2px;
    color: #cfff8f;
}

.experiences-header-text>p {
    margin: 0;
}

.experiences-container-text {
    background: #000000;
    margin-inline: 10px;
    margin-block: 10px;
    padding: 10px;
}

.experiences-container-text>p {
    margin-block: 5px;
}

.experiences-container-text>p>strong {
    line-height: 1.8;
    color: #df5800;
}



.icon-rounded {
    border-radius: 50%;
}


footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background-color: #000000;
    z-index: 0;
}

.footer-image {
    position: absolute;
    top: 15vh;
    left: 10vw;
    width: 80vw;
    height: auto;
    transform: translateY(40vh);
    transition: transform 1s cubic-bezier(.17,.67,0,1);
    z-index: -1;
}



.footer-image.visible {
    transform: translateY(0);
}

.footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-foot,
.footer-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
}

.footer-foot {
    height: 5vh;
}

.footer-head>div>h1 {
    font-size: 4rem;
    color: #cfff8f;
    font-family: "Archivo Black", sans-serif;
    margin: 0;
}

.footer-head>div>p {
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 10px;
    font-family: "Momo Trust Display", sans-serif;
}

.footer-head>div>p>a {
    text-decoration: none;
    text-align: center;
    font-size: 1.4rem;
    color: #cfff8f;
}


.footer-made,
.footer-copyright {
    opacity: 50%;
    font-family: "Rubik", sans-serif;
}

.footer-social {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
}

.footer-social>a {
    display: flex;
    align-items: start;
    height: 100%;
    width: 100%;
}

.footer-social>a>img {
    height: 80%;
}